<%- include("partial/header.ejs") %>
<link rel="stylesheet" href="CSS/wind.css" />
<%- include("partial/menubar.ejs") %>
<!-- bigbox -->
<div class="bigbox">
    <h1>BANGKOK , THAILAND</h1>
<div class="box">
    <div class="windpic">
        <img class="status" src="🦆 icon _wind_.png" />
        
        <span class="windtext">Wind</span>
    </div>
    
    <div><h5 class="daytext">Friday , 5 April 2567 BE</h5></div>
    <div><h1 class="temptext" >XX km/h S </h1> </div>
    <div class="graphpic">
        <img class="graph" src="Measured-wind-speed-throughout-the-day.ppm.png">
    </div>
    <div class="texttoomuch">
        <h>Daily Summary</h>

        <h>Wind is currently 18 km/h from the south. Today, wind speeds are 10 to 18 km/h, with gusts up to 36 km/h.
        About Wind Speed and Gusts </h> 
        
        The wind speed is calculated using the average over a short period of time. Gusts are short bursts of wind above this average. A gust typically lasts under 20 seconds.</h></div>
    
    </div>
    
    
    
</div>
