</head>
<body onload="getLocation()">
  <div class="grid-container">
<div class="menu item">
  <div>
    <a class="nav-link" href="/"><img src="IMG/TempestLogo.png" class="icon" /></a>
  </div>
  <div>
    <a class="nav-link" href="/weathersearch"
      ><button class="btn btn-light button">Cities</button></a
    >
  </div>
  <div>
    <a class="nav-link" href="/history"
      ><button class="btn btn-light button">History</button></a
    >
  </div>
</div>
